/*h3, p	Align the text to the center.*/

h3,p{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
/*Add a display of flex.
Set the flex direction to column.
Set the flex wrap to nowrap.
Set the top & bottom margin to 0 and the left & right margin to auto.
Set 1em of padding.*/
input, select, textarea {
margin-bottom: 0.5em;
}

@media (min-width: 768px) {
    form {
        display: grid;
        width: 60%;
        max-width: 30em;
        gap: 1em;
        grid-template-columns: 6em 1fr;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    form > input[type="submit"]{
        grid-column: 2;
        width: 10em;
    }

}

/*****Open a media query with a min-width of 768px*****/
/*Add a margin along the bottom of 0.5em*/