/* General Styles */
body {
    background: url('images/background.jpg') no-repeat center center fixed;
    font-family: Arial, Helvetica, sans-serif;
}

main {background-color: white;
	  width: 50%;
	  margin: auto;}

/* Header Styling */
header {
    background: url('images/logo.png') no-repeat right;
    text-align: center;
    color: white;
    padding: 20px;
}

/* Navigation Styling */
nav {
    font-weight: bold;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #29485d;
    padding: 10px;
}

nav a:hover {
    color: #ff5733;
}

/* Heading Styles */
h1, h2, h3 {
    font-family: Georgia, "Times New Roman", serif;
}

h3 {
    color: #29485d;
}

/* List Styling */
ul {
    list-style-image: url('images/marker.gif');
	
}

li {
    line-height: 1.5;
}

/* Footer Styling */
footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 20px;
	background-color: white;
	width: 20%;
	margin: auto;
}

/* Class and ID Styling */
.web {
    font-weight: bold;
	color: red;
}

#contact {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
	background-color: #C7B2AE;
}

/* Image Styling */

.attraction-image {
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 20px 20px 10px grey;
}
